---
import { Image } from "astro:assets";
import wave1 from "@/assets/waves/wave-1.svg";
import wave2 from "@/assets/waves/wave-1-inverted.svg";
import yo from "@/assets/yo.avif";
import type { TranslateType } from "@/i18n";

const { translation }: { translation?: TranslateType } = Astro.props;
---

<section
  id="sobre-mi"
  class="flex flex-col grid-cols-1 gap-0 font-bold text-blue-lagon-50"
>
  <Image src={wave1} alt="wave" class="w-full" />
  <section
    class="flex flex-col xl:flex-row gap-3 items-center bg-blue-lagon-950 px-12 md:px-52 h-full"
  >
    <section class="flex flex-col gap-3">
      <h1 class="text-xl drop-shadow-blue-lagon-500 text-blue-lagon-500">
        {translation?.about.aboutMe}
      </h1>
      <p class="font-bold text-sm">
        {translation?.about.description}
      </p>
    </section>
    <Image src={yo} alt="yo" class="w-1/2 xl:w-1/4 rounded-full" />
  </section>
  <Image src={wave2} alt="wave" class="w-full" />
</section>
