---
const { translation } = Astro.props;
---

<section
  class="flex flex-col px-12 md:px-52 font-bold gap-3 text-black-pearl-50"
>
  <section>
    <h2 class="text-md md:text-lg">{} </h2>
    <h1 class="text-xl md:text-3xl">
      {translation.welcome.developer} <strong
        class="text-black-pearl-500 shadow-black-pearl-500 bg-transparent drop-shadow-black-pearl-500"
        >{translation.welcome.fullStack}</strong>
    </h1>
  </section>
  <p class="font-normal">
    {translation.welcome.helloI} <strong>{translation.name}</strong>
    {translation.welcome.aDeveloper}
  </p>
</section>
