---
import { Image } from "astro:assets";
import logo from "@/logo.svg"; // Asegúrate de que este archivo exista en la carpeta `public`
import githubLogo from "@/assets/logos/github.svg"; // Asegúrate de que este archivo exista en `public/assets/logos`
import LangSelector from "./LangSelector";
import type { TranslateType } from "@/i18n";

interface NavigationLink {
  href: string;
  label?: string;
  target?: string;
}

const { translation, currentLang }: { translation?: TranslateType; currentLang?: string } = Astro.props;

const navigationLinks: NavigationLink[] = [
  { href: "#sobre-mi", label: translation?.about.aboutMe },
  { href: "#tecnologias", label: translation?.technologies.technologies },
  { href: "#proyectos", label: translation?.projects.projects },
  //{ href: "https://www.linkedin.com/in/indroic/", label: "LinkedIn", target: "_blank" },
];


---

<header class="flex sticky top-0 justify-between px-8 py-3 backdrop-blur-md z-20 aspect-auto">
  <Image src={logo} alt="logo" class="w-8 h-8 aspect-square" />
  <section
    class="hidden md:flex gap-5 text-black-pearl-50 flex-row items-center justify-between content-center font-bold text-sm h-full"
  >
    {navigationLinks.map((link) => (
      <a href={link.href} class="scroll-link hover:text-black-pearl-300 hover:shadow-black-pearl-500 hover:drop-shadow-black-pearl-500  transition-all">
        {link.label}
      </a>
    ))}
  </section>
  <section class="flex flex-row items-center gap-3 text-black-pearl-50 aspect-9/2">
    <LangSelector currentLang={currentLang} client:only="react" />
    <a target="_blank" href="https://github.com/Indroic" class="flex items-center aspect-square">
    <Image src={githubLogo} class="w-8 h-8 rounded-full" alt={"github"} /></a
  >
  </section>
</header>

<script>
  // Selecciona todos los enlaces con la clase "scroll-link"
  const scrollLinks = document.querySelectorAll<HTMLAnchorElement>(".scroll-link");

  // Agrega un evento de clic a cada enlace
  scrollLinks.forEach((anchor) => {
    anchor.addEventListener("click", (event: MouseEvent) => {
      event.preventDefault(); // Evita el comportamiento predeterminado del enlace

      // Obtiene el destino del enlace a través del atributo "href"
      const targetId = anchor.getAttribute("href");
      if (targetId) {
        const targetElement = document.querySelector(targetId);
        if (targetElement) {
          // Desplaza suavemente hacia el elemento objetivo
          targetElement.scrollIntoView({ behavior: "smooth" });
        }
      }
    });
  });
</script>
