---
import { Image } from "astro:assets";
import logo from "@/logo.svg"; // Asegúrate de que este archivo exista en la carpeta `public`
import githubLogo from "@/assets/logos/github.svg"; // Asegúrate de que este archivo exista en `public/assets/logos`
import LangSelector from "./LangSelector";
import type { TranslateType } from "@/i18n";

const { translation, currentLang }: { translation?: TranslateType; currentLang?: string } = Astro.props;

---

<header class="flex sticky top-0 justify-between px-8 py-3 backdrop-blur-md">
  <Image src={logo} alt="logo" class="w-8 h-8" />
  <section
    class="hidden md:flex gap-5 text-black-pearl-50 flex-row items-center justify-between content-center font-bold text-sm h-full"
  >
    <a href="#sobre-mi" class="scroll-link">{translation?.about.aboutMe}</a>
    <a href="#tecnologias" class="scroll-link">{translation?.technologies.technologies}</a>
    <a href="#proyectos" class="scroll-link">{translation?.projects.projects}</a>
  </section>
  <section class="flex flex-row items-center gap-3">
    <LangSelector currentLang={currentLang} client:only="react" />
    <a target="_blank" href="https://github.com/Indroic"
    ><Image src={githubLogo} class="w-8 h-8 rounded-full" alt={"github"} /></a
  >
  </section>
</header>

<script>
  // Selecciona todos los enlaces con la clase "scroll-link"
  const scrollLinks = document.querySelectorAll<HTMLAnchorElement>(".scroll-link");

  // Agrega un evento de clic a cada enlace
  scrollLinks.forEach((anchor) => {
    anchor.addEventListener("click", (event: MouseEvent) => {
      event.preventDefault(); // Evita el comportamiento predeterminado del enlace

      // Obtiene el destino del enlace a través del atributo "href"
      const targetId = anchor.getAttribute("href");
      if (targetId) {
        const targetElement = document.querySelector(targetId);
        if (targetElement) {
          // Desplaza suavemente hacia el elemento objetivo
          targetElement.scrollIntoView({ behavior: "smooth" });
        }
      }
    });
  });
</script>