---
import Welcome from "./content/Welcome.astro";
import AboutMe from "./content/AboutMe.astro";
import Tecnologies from "./content/Technologies.astro";
import Projects from "./content/Projects.astro";

const {translation} = Astro.props;

---

<div class="flex flex-col text-white mt-8 gap-5">
  <Welcome translation={translation}/>
  <AboutMe  translation={translation} />
  <Tecnologies  translation={translation}/>
  <Projects  translation={translation}/>
</div>
